$ods-black: #0e100f;
$ods-white: #fff;
$ods-lime: #fefce4;
$ods-pink: #F71749;
$ods-deep-grey: #383838;
$ods-light-grey: #C8C8C8;
$ods-light-blue: #F2F2F5;

$blue: #628bff;
$pink: #E571EE;
$yellow: #FBB22D;