@font-face {
  font-family: "galano-grotesque-heavy";
  font-style: normal;
  src: url("../fonts/galano-grotesque/ttf/galano-grotesque-heavy.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "galano-grotesque-extrabold";
  font-style: normal;
  src: url("../fonts/galano-grotesque/ttf/galano-grotesque-extrabold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "galano-grotesque-bold";
  font-style: normal;
  src: url("../fonts/galano-grotesque/ttf/galano-grotesque-bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "galano-grotesque-semibold";
  font-style: normal;
  src: url("../fonts/galano-grotesque/ttf/galano-grotesque-semibold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "galano-grotesque-medium";
  font-style: normal;
  src: url("../fonts/galano-grotesque/ttf/galano-grotesque-medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "galano-grotesque-regular";
  font-style: normal;
  src: url("../fonts/galano-grotesque/ttf/galano-grotesque-regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "galano-grotesque-light";
  font-style: normal;
  src: url("../fonts/galano-grotesque/ttf/galano-grotesque-light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "galano-grotesque-extralight";
  font-style: normal;
  src: url("../fonts/galano-grotesque/ttf/galano-grotesque-extralight.ttf");
  font-weight: 200;
}