@font-face {
  font-family: "galano-grotesque";
  font-style: normal;
  src: url("../fonts/otf/GalanoGrotesqueAltBlack.ttf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "galano-grotesque";
  font-style: normal;
  src: url("../fonts/otf/GalanoGrotesqueAltBlack.ttf") format("opentype");
  font-weight: 900;
}