@font-face {
  font-family: "galano-grotesque", Arial, sans-serif;
  font-style: normal;
  src: url("../fonts/galano-grotesque/GalanoGrotesqueAltBlack.ttf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "galano-grotesque-bold", Arial, sans-serif;
  font-style: normal;
  src: url("../fonts/galano-grotesque/GalanoGrotesqueBold.otf") format("opentype");
  font-weight: 800;
}

@font-face {
  font-family: "galano-grotesque-altheavy", Arial, sans-serif;
  font-style: normal;
  src: url("../fonts/galano-grotesque/GalanoGrotesqueAltHeavy.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "galano-grotesque-medium", Arial, sans-serif;
  font-style: normal;
  src: url("../fonts/galano-grotesque/GalanoGrotesqueMedium.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "galano-grotesque-altsemibold", Arial, sans-serif;
  font-style: normal;
  src: url("../fonts/galano-grotesque/GalanoGrotesqueAltSemiBold.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "galano-grotesque-altregular", Arial, sans-serif;
  font-style: normal;
  src: url("../fonts/galano-grotesque/GalanoGrotesqueAltRegular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "galano-grotesque-black", Arial, sans-serif;
  font-style: normal;
  src: url("../fonts/galano-grotesque/GalanoGrotesqueBlack.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "galano-grotesque-altlight", Arial, sans-serif;
  font-style: normal;
  src: url("../fonts/galano-grotesque/GalanoGrotesqueAltLight.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "galano-grotesque-altextralight", Arial, sans-serif;
  font-style: normal;
  src: url("../fonts/galano-grotesque/GalanoGrotesqueAltExtraLight.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "pp-mori-regular", Arial, sans-serif;
  font-style: normal;
  src: url("../fonts/pp-mori/PPMori-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "pp-mori-semibold", Arial, sans-serif;
  font-style: normal;
  src: url("../fonts/pp-mori/PPMori-SemiBold.otf") format("opentype");
  font-weight: 600;
}