h1,h2,h3,h4,h5,h6 {
  margin-bottom: 0;
  font-family: "galano-grotesque-bold", sans-serif;
  font-style: normal;
  font-weight: 600;
}

.hero-big-text {
  color: $ods-lime;
  font-family: "galano-grotesque-semibold", sans-serif;
  font-size: 104px;
  line-height: 110px;
  font-style: normal;
  font-weight: 600;
  @include for-tablet-only {}
  @include phone {
    font-size: 48px;
    line-height: 56px;
  }
}

p {
  font-family: "galano-grotesque-regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: $ods-black;
  margin-bottom: 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
