h1,h2,h3,h4,h5,h6 {
  margin-bottom: 0;
}

.hero-big-text {
  color: var(--Font, #FEFCE4);
  font-family: "galano-grotesque-medium", Arial, sans-serif;
  font-size: 104px;
  font-style: normal;
  font-weight: 600;
  line-height: 110px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
