.who-can-apply-wrapper {
  background-image: url('../images/backgrounds/ods-writing-bg.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 102px 0 120px 0;
  .cta-wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  .heading-wrap {
    .section-title-secondary {
      color: $ods-lime;
      margin-bottom: 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid $ods-deep-grey;
    }
  }
  .brief-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    .star-svg {
      animation: 5s rotate infinite;
      animation-timing-function: linear;
    }
  }
  .brief-para {
    // margin-bottom: 64px;
    margin-bottom: 80px;
    p {
      color: $ods-white;
      width: 60%;
      margin-left: auto;
    }
  }
  .deck {
    margin: 0 auto;
    width: 80vw;
    min-height: 535px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "card";
    padding-bottom: 48px;
  }

  .card {
    padding: 2.5rem;
    position: relative;
    grid-area: card;
    border-radius: 2.5rem;
    color: $ods-white;
    position: relative;
    h6 {
      font-family: "galano-grotesque-medium", Arial, sans-serif;
      font-size: 2rem;
      font-weight: 600;
    }
    p {
      margin-top: 0.5rem;
      color: $ods-white;
      width: min(336px, 100%);
      width: 33%;
    }
    .svg-icon {
      position: absolute;
      bottom: 40px;
      right: 40px;
      svg {
        width: 80px;
        height: 80px;
      }
    }
  }

  .yellow {
    width: 74.5%;
    height: 424px;
    margin-right: auto;
    background-color: $yellow;
    margin-top: 10px;
  }
  .pink {
    width: 66%;
    height: 395px;
    // margin-top: 2.5rem;
    margin-top: -20px;
    margin-left: auto;
    background-color: $pink;
  }
  .blue {
    width: 62%;
    height: 318px;
    // margin-bottom: 2rem;
    margin-bottom: 0;
    margin-left: 8.5%;
    margin-right: auto;
    margin-top: auto;
    background-color: $blue;
  }
  .white {
    width: 58.25%;
    height: 302px;
    margin-left: auto;
    margin-right: 8.5%;
    margin-top: auto;
    margin-bottom: -30px;
    background-color: $ods-white;
    color: $ods-black;
    p {
      color: $ods-black;
    }
  }
  .front {
    z-index: 1;
  }
}