.who-can-apply-wrapper {
  background-image: url('../images/backgrounds/ods-writing-bg.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 102px 0 120px 0;
  @include for-tablet-only {
    padding: 80px 0 96px 0;
  }
  @include phone {
    padding: 56px 0 64px 0;
  }
  .cta-wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  .heading-wrap {
    .section-title-secondary {
      color: $ods-lime;
      margin-bottom: 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid $ods-deep-grey;
      br {
        display: none;
        @include for-tablet-only {}
        @include phone {
          display: block;
        }
      }
      @include for-tablet-only {}
      @include phone {
        margin-bottom: 24px;
        padding-bottom: 24px;
      }
    }
  }
  .brief-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    .star-svg {
      animation: 5s rotate infinite;
      animation-timing-function: linear;
      @include for-tablet-only {}
      @include phone {
        width: 180px;
        height: 80px;
      }
    }
  }
  .brief-para {
    // margin-bottom: 64px;
    margin-bottom: 80px;
    @include for-tablet-only {}
    @include phone {
      margin-bottom: 40px;
    }
    p {
      color: $ods-white;
      width: 60%;
      margin-left: auto;
      @include for-tablet-only {}
      @include phone {
        width: 90%;
      }
    }
  }
  .deck {
    margin: 0 auto;
    width: 80vw;
    min-height: 535px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "card";
    padding-bottom: 48px;
    @include for-tablet-only {}
    @include phone {
      width: 100%;
      min-height: unset;
    }
    @include for-tablet-only {}
    @include phone {
      display: block;
    }
  }

  .card {
    padding: 2.5rem;
    position: relative;
    grid-area: card;
    border-radius: 2.5rem;
    color: $ods-white;
    position: relative;
    @include for-tablet-only {}
    @include phone {
      border-radius: 20px;
      padding: 16px;
    }
    h6 {
      font-family: "galano-grotesque-medium", Arial, sans-serif;
      font-size: 2rem;
      font-weight: 600;
      @include for-tablet-only {
        font-size: 24px;
      }
    }
    p {
      margin-top: 0.5rem;
      color: $ods-white;
      width: min(336px, 100%);
      width: 45%;
      @include for-tablet-only {}
      @include phone {
        width: 100%;
      }
    }
    .svg-icon {
      position: absolute;
      bottom: 40px;
      right: 40px;
      svg {
        width: 80px;
        height: 80px;
      }
    }
  }

  .yellow {
    width: 74.5%;
    height: 424px;
    margin-right: auto;
    background-color: $yellow;
    margin-top: 10px;
    @include for-tablet-only {}
    @include phone {
      width: 90%;
      margin-top: 0;
    }
  }
  .pink {
    width: 66%;
    height: 395px;
    // margin-top: 2.5rem;
    margin-top: -20px;
    margin-left: auto;
    background-color: $pink;
    @include for-tablet-only {}
    @include phone {
      width: 90%;
      margin-top: -64%;
    }
    p {
      width: 75%;
      @include for-tablet-only {}
      @include phone {
        width: 100%;
      }
    }
  }
  .blue {
    width: 62%;
    height: 318px;
    // margin-bottom: 2rem;
    margin-bottom: 0;
    margin-left: 8.5%;
    margin-right: auto;
    margin-top: auto;
    background-color: $blue;
    @include for-tablet-only {}
    @include phone {
      width: 84%;
      margin: 0 auto;
      margin-top: -70%;
      margin-left: 10px;
    }
    p {
      width: 40%;
      @include for-tablet-only {}
      @include phone {
        width: 100%;
      }
    }
  }
  .white {
    width: 58.25%;
    height: 302px;
    margin-left: auto;
    margin-right: 8.5%;
    margin-top: auto;
    margin-bottom: -30px;
    background-color: $ods-white;
    color: $ods-black;
    @include for-tablet-only {}
    @include phone {
      width: 80%;
      margin-bottom: 0;
      margin-top: -40%;
      margin-right: 32px;
      height: 250px;
    }
    p {
      color: $ods-black;
    }
    .svg-icon {
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
  .front {
    z-index: 1;
  }
}