section {
	&.contact-us-strip-wrapper {
		background-image: url('../images/elements/footer/footer-bg.png');
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		padding-bottom: 150px; //this is temp, we'll add matter js
		margin-top: 280px !important;

		@include for-tablet-only {}
		@include phone {
			background-size: contain;
			background-position: bottom center;
			padding-bottom: 0; //this is temp, we'll add matter js
			margin-top: 280px !important;
		}
		.strip-divider {
			border-top: 1px solid $ods-deep-grey;
			padding: 120px 0;
			@include for-tablet-only {}
			@include phone {
				padding: 72px 0;
				width: 90%;
			}
		}
		.contact-main {
			padding: 120px 0;
			@include for-tablet-only {}
			@include phone {
				padding: 40px 0;
			}
			.div-wrap {
				display: flex;
				justify-content: space-between;
				// align-items: center;
				@include for-tablet-only {}
				@include phone {
					flex-direction: column;
					align-items: flex-start;
				}
				.contact-content {
					padding-top: 24px;
					display: flex;
					flex-direction: column;
					gap: 24px;
					.inputfield {
						background: none;
						color: var(--Stroke-light, #C8C8C8);
						font-family: Galano Grotesque;
						font-size: 16px;
						font-style: normal;
						font-weight: 400;
						line-height: 150%;
						display: flex;
						padding: 16px 331px 16px 24px;
						align-items: center;
						border-radius: 40px;
						border: 0.5px solid var(--Stroke-light, #C8C8C8);
						@include phone {
							padding: 16px 172px 16px 24px;
						}
					}
					button{
						background: none;
						width: 180px;
						margin:24px 0;
						display: flex;
						font-size: 16px;
						line-height: 150%;
						text-transform: uppercase;
						&:hover{
							background-color: #fff;
							color: #000;
						}
					}
					p{
						color: #fff;
						margin-bottom: 32px;
					}
				}
				.heading-wrap {
					.section-title-main {
						width: 700px;
						.svg-icon {
							display: inline-block;
							@include for-tablet-only {}
							@include phone {
								display: block;
							}
						}
						span {
							background: $blue;
						}
					}
				}
			}
		}
		.svg-riddled {
			position: relative;
			display: none;
			.svg-icon {
				height: 80px;
				width: 80px;
				position: absolute;
				object-fit: cover;
				object-position: center center;
				&#vector-1 {}
				&#vector-2 {}
				&#vector-3 {}
				&#vector-4 {}
				&#vector-5 {}
			}
		}
	}
}








