.contact-page-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // background-image: inherit;
    z-index: 0; 
    opacity: 0.5;
   
    @include for-tablet-only{
    background-image: unset; 
    }
    @include phone{
        background-image: unset; 
        }
  }
  .page-bg-opacity::before{
    opacity: 0.8 !important;
  }
.contact-page-wrapper {
    display: flex;
    width:100%;
   padding-top: 100px;
    gap: 40px;
    padding-bottom: 24px;
    overflow: hidden;
    background-image: url('../images/backgrounds/apply-bg.svg');
    @include for-extra-large-screen{
        padding-bottom: unset;
    }

    @include for-tablet-only {
        flex-direction: column;
        align-items: center;
        padding-bottom: 32px;

    }
    @include phone {
        flex-direction: column;
        align-items: center;
        padding-bottom:200px;
    position: relative;


    }

    .contact-hero-wrapper{
        position: relative;
        width: 55%;
       padding-left: 100px;
       padding-top: 100px;
       padding-right: 32px;
       padding-bottom: 16px;
       @include for-extra-large-screen{
        padding-top: 64px;
       }
       @include for-tablet-only {
        width: 100%;
        padding-left: 64px;
        padding-bottom: 0;

       }
       @include phone {
        width: 100%;
        padding-left: 24px;
        padding-top: 32px;
       padding-right: 24px;
       padding-bottom: 0;
       }
       .contact-main-container{
          border-bottom: 1px solid #383838;
          padding-bottom: 64px;
          @include for-extra-large-screen{
            padding-bottom: 16px;

          }
          @include phone{
            padding-bottom: 40px;
          }
        .contact-big-text{
            position: relative;
    z-index: 2;
    .contact-head-div{
        display: flex;
        gap: 18px;
        @include phone{
            gap: 12px;
        }
    }
            span{

            display: flex;
            flex-direction: column;
            gap: 8px;
            color: var(--Font, #FEFCE4);
font-family:"galano-grotesque-semibold";
font-size: 80px;
font-style: normal;
line-height: 110px; /* 137.5% */
@include for-tablet-only {
    white-space: nowrap;
font-size: 64px;
line-height: 96px; /* 137.5% */

}
@include phone{
    line-height: 68px;
}

@include phone {
    font-size: 36px;
    white-space: unset;
}
        }
        .type-span-2{
            padding-left: 64px;
            white-space: nowrap;
            @include for-tablet-only{
                padding-left: 183px;
            
            }
            @include phone {
                white-space: unset;
                padding-left: 76px;
            }
            @include iphone{
                padding-left: 42px;
            }

           
        }
       }
    }
    .hero-stats-wrapper{
        display: flex;
        padding: 64px 0;
        gap: 100px;
       @include for-extra-large-screen {
        padding: 40px 0;
       }
       @include for-tablet-only{
        gap: 160px;
       }
       @include phone {
        gap: 60px;
        // align-items: center;
        padding: 42px 0 32px 0;
       }
      
        .ods-col{
            display: flex;
            flex-direction: column;
            gap: 12px;
            @include phone {
                // align-items: center;
                gap: 0px;
            }
            p{
                // width: 181px;
                color: #FEFCE4;
                font-size: 24px;
                @include phone{
                    font-size: 16px;
                }

            }
            .stats_num{
                font-family: "galano-grotesque-semibold";
                font-size: 40px;
                font-style: normal;
                line-height: 130%;
                @include phone{
                    font-size: 24px;
                }
            }
            .yellow-stats{
                color: #FBB22D;
            }
            .blue-stats{
                color: #628BFF;
            }
            .pink-stats{
                color: #F68;
            }
        }
    }
    .icon1{
        position: absolute;
        z-index: 0;
        top: 7%;
        left: 23%;
       @include for-extra-large-screen{
        top: 4%;
       }
       @include phone{
        top: 1%;
        height: 36px;
    width: 36px;
    left: 6%;
       }
       @include for-tablet-only{
        left: 12%;
       }
    }
    .icon2{
        position: absolute;
        z-index: 0;
        top: 33%;
        right: 11%;
       @include for-tablet-only{
      top:34%;
       }
       @include phone {
        top: 32%;
    right: 14%;
        height: 36px;
    width: 36px;
       }
    }
    .icon3{
        position: absolute;
        z-index: 0;
        top: 44%;
        left: 18%;
       @include for-tablet-only{
        left: 11%;
        top: 48%;
       }
       @include phone {
        left: 10.5%;
    top: 50%;
        height: 36px;
    width: 36px;
       }
    }
    }
    .bg-none{
        background-image:none !important;  
    }
   
    .contact-form-wrapper{
        padding: 96px 56px;
        width: 45%;
        border-radius: 96px;
background: #F2F2F5;
margin-top: 10px;
width: 606px;
height: 768px;
background-image: url("../images/contact/bg-img.png");
background-position: top center;
  background-size:  cover;
  background-repeat: no-repeat;
  @include for-extra-large-screen{
    padding: 40px 56px;
    height: unset;

  }
  @include for-tablet-only {
    width: 90%;
    height: unset;
   }
   @include phone {
    height: unset;
    width: 100%;
    border-radius: 64px;
    padding: 48px 32px;
   }

  h2{
    color: var(--Background, #0E100F);
    font-family:"galano-grotesque-semibold";
font-size: 56px;
font-style: normal;
line-height: 72px; 
@include for-tablet-only {
    font-size: 48px;
}
@include phone {
    font-size: 28px;
}
  }
  img{
    @include phone{
        width: 34px;
height: 34px;
margin-left: 6px;
    }
  }
  .ods-form{
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 64px 0;
//   position: relative;
  @include for-extra-large-screen{
    padding: 40px 0;
  }
  @include phone {
    padding: 24px 0;
  gap: 16px;

  }
  button{
    background: none;
    .cta-wrapper{
        .contact-bttn-primary-dark{

            border-color: $ods-black;
            span {
                color: $ods-black;
            }
            &:before {
                background: rgba($ods-white, 1);
            }
            &:hover {
                span {
                    color: $ods-black;
                }
            }
            @include phone{
                width: 100%;
                margin: 16px 0;
            }
        }
    }
  }

//   button{
//     width: 124px;
//     color: var(--Background, #0E100F);
// font-family: "galano-grotesque-semibold";
// font-size: 16px;
// line-height: 150%; /* 24px */
// display: flex;
// padding: 16px 24px;
// justify-content: center;
// gap: 8px;
// border-radius: 40px;
// border: 2px solid var(--Background, #0E100F);
// background-color: #F2F2F5;
// margin-top: 32px;

//   }
.form-groups{
    position: relative;
.cross-img{
    position: absolute;
    top: 16px;
    right: 32px;
    z-index: 2;
    display: none;
    @include for-tablet-only {
        right: 84px;
    }
    @include phone {
        right: 16px;
    }
}

  .input-field{
    display: flex;
    width: 486px;
    padding: 16px 16px 16px 24px;
    align-items: center;
    border-radius: 40px;
border: 0.5px solid var(--Stroke-light, #C8C8C8);
background: var(--White, #FFF);
color: #0E100F;
font-family: "galano-grotesque-regular";
font-size: 16px;
font-style: normal;
line-height: 150%; /* 24px */
@include for-tablet-only {
    width: 100%;
}
@include phone {
    width: 100%;
}
  }
.input-field:focus{
    border: 0.5px solid #FF4B56;
}}
#emailCross #nameCross #phoneCross{
    display: none;
  }
.success-text{
    display: none;
    color: #fff;
    font-family: "galano-grotesque-semibold";
        font-size: 24px;
        line-height: 150%;
        width: 200px;
justify-content: center;
align-items: center;
}
.error-text{
color: red !important;
font-size: 12px;
margin-top: -16px;
margin-bottom: 0px !important;
margin-left: 16px;
display: none;
}

  
    }
    .success-state{
        display: none;
        flex-direction: column;
        gap: 24px;
        padding: 64px 0;
        align-items: center;
        background: none;
        // overflow: hidden;
        position: relative;
        @include for-extra-large-screen{
          padding: 40px 0;
        }
        @include phone {
            padding: 8px 0;
        }
        .success-head{
            color: var(--Background, #0E100F);
text-align: center;
font-family: "galano-grotesque-semibold";
font-size: 32px;
line-height: 40px; /* 125% */
@include phone {
    font-size: 24px;
}
        }
        h3{
            color: #FFF;
        font-family: "galano-grotesque-semibold";
        font-size: 60px;
       
        line-height: 96px; /* 160% */
        text-transform: uppercase;
        display: flex;
padding: 16px 48px;
justify-content: center;
align-items: center;
gap: 16px;
border-radius: 80px;
@include phone{
    padding: 0px 32px;
    font-size: 40px;
    line-height: 80px;
}
@include for-tablet-only {
    font-size: 52px;
    line-height: 80px;
}

    }
    .yellow-tag{
        background: var(--Yellow, #FBB22D);
        transform: rotate(6deg);
    }
    .blue-tag{
        background: var(--Blue, #628BFF);
        transform: rotate(-6deg);
        margin-top: -32px;

    }
    .success-para{
        color: #000;
text-align: center;
font-family: "galano-grotesque-regular";
font-size: 24px;
line-height: 40px; /* 166.667% */
@include phone {
    font-size: 20px;
    line-height: 36px;
}
    }
    .success-imgs{
        display: none;
        position: absolute;
        z-index: 1;
        @include phone{
            z-index: -1;
        }
    }
    .success1{
        top: 0px;
        left: 8px;
        @include for-extra-large-screen{
        top: 16px;
        }
       
    }
    .success2{
        top: 30%;
    right: 0;
   
    }
    .success3{
        bottom: -53%;
        right: -40%;
        @include for-extra-large-screen{
        bottom: -48%;

        }
        @include for-tablet-only{
            bottom: -56%;
    right: -32%;
        }
       
    }

}
}
}
.contact-background-img{
    display: none;
    @include for-tablet-only{
        display: none;
    }
    @include phone{
        display: flex;
        width: 100%;
        position: absolute;
        bottom: -5%;
        right: -1%;
    }
}
         
			