html {
	scroll-behavior: smooth;
}

body {
	font-size: 16px;
	scroll-behavior: smooth;
	// overflow-x: hidden;
	overflow-x: clip;

	@include phone {
		// overflow-x: hidden;
		overflow-x: clip;

	}
}

.row-no-gutter {
	margin-right: 0;
	margin-left: 0;

	[class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
}

ul {
	list-style: none;
	margin-bottom: 0;
	li {
		list-style: none;
	}
}

a {
	text-decoration: none;
	z-index: 9;
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
	&:hover {
		color: inherit;
	}
}

figure {
	margin-bottom: 0;
}

.page-wrapper {
	// overflow: hidden;
	overflow: clip;

}










