.homepage-container {
	.hero-big-text {
		position: relative;
		padding-top: 180px;
		@include for-tablet-only {
			padding-top: 124px;
			padding-bottom: 64px;
		}
		@include phone {
			padding-top: 80px;
			padding-bottom: 0px;
		}
		.elem1{
			position: absolute;
			top: 20%;
			left: 0%;
			z-index: 1;
			transform: rotate(0deg);
			animation: coming 0.5s linear,rotateAnimation 3s linear infinite; /* 5s duration, linear timing, infinite loop */
			
			@include for-tablet-only{
				top: 9%;
			}
			@include phone{
				height: 40px;
				width: 40px;
				top: 14%;
			}
			@keyframes rotateAnimation {
				0% {
				  }
				  100% {
					transform: rotate(360deg); /* Rotate to 360 degrees (full circle) */
				  }
			  }
			  @keyframes coming {
				0% {
					// opacity: 0.5;
					left: -10%; /* Start from a position farther to the left */
				  }
				  100% {
					// opacity: 1;
					left: 0%; /* Move to the target position */
				  }
			  }
			
		}
		.elem2{
			position: absolute;
			bottom: -6%;
    left: 3%;
    z-index: -1;
	@include for-tablet-only{
		bottom: 6%;
    left: 2%;
	}
	@include phone{
		height: 40px;
		width: 40px;
		bottom: -2%;
    left: 4%;
	}
		}
		.text-span {
			display: block;
			position: relative;
			opacity: 0;
			animation: reveal 1.7s forwards;
			animation-duration: 1.7s;
		// 	&:nth-child(2) {
		// 	animation-delay: 0.6s ;
				
		// 	}
		//   &:nth-child(3) {
		// 	animation-delay: 1.2s

		//   }
		@keyframes reveal {
			0% { transform: translateY(7rem);opacity: 0; }
			100% { opacity: 1; transform: none;opacity: 1; }
		}
		
		// @keyframes reveal{
		//   from{
		// 	transform: translateY(100%)
		//    } to{
		// 	transform: translateY(0)}
		// }
		   
			@include for-tablet-only {}
			@include phone {
				margin: 16px 0;
			}
			&:before {
				position: absolute;
				content: "";
				background-size: cover !important;
				background-repeat: no-repeat !important;
			}
			
			&.type-span-1 {
				// &:before {
				// 	background: url('../images/elements/star-pink.svg');
				// 	left: 30px;
				// 	height: 80px;
				// 	width: 80px;
				// 	top: -70px;

				// 	@include for-tablet-only {}
				// 	@include phone {
				// 		height: 40px;
				// 		width: 40px;
				// 		top: -40px;
				// 	}
				// }
			}
			&.type-span-2 {
				padding-left: 120px;
				@include for-tablet-only {}
				@include phone {
					padding-left: 40px;
				}
				&:before {
					background: url('../images/elements/half-circle.svg');
					right: 200px;
					height: 80px;
					width: 80px;
					bottom: -30px;
					z-index: -1;
					rotate: 5deg;
					@include for-tablet-only {}
					@include phone {
						right: 120px;
						height: 40px;
						width: 40px;
						bottom: -10px;
					}
				}
			}
			&.type-span-3 {
				// &:before {
				// 	background: url('../images/elements/rectangle.svg');
				// 	left: 54px;
				// 	height: 80px;
				// 	width: 80px;
				// 	bottom: -22px;
				// 	z-index: -1;
				// 	rotate: 5deg;
				// 	@include for-tablet-only {}
				// 	@include phone {
				// 		height: 40px;
				// 		width: 40px;
				// 		bottom: -8px;
				// 		left: 44px;
				// 	}
				// }
			}
		}
	}
	section {
		&.ods-hero-wrapper {
			background-image: url('../images/backgrounds/hero-bg-dark.svg');
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			padding-top: 108px;
			padding-bottom: 120px;
			@include for-tablet-only {
				padding-bottom: 72px;
			}
			@include phone {
				padding-bottom: 64px;
			}
			.hero-video-wrapper {
				margin-top: -40px;
				margin-bottom: 64px;
			  
				@include for-tablet-only {
				  margin-top: 0;
				  padding-left: 40%;
				
				}
			  
				@include phone {
				  margin-top: 24px;
				padding: 32px;
				}
			  .hero-img{
				display: none;
				@include for-tablet-only{
					display: block;
					border-radius: 50%;
					height: 450px;
					width: 450px;
				}
				@include phone{
					display: block;
					border-radius: 50%;
					height: 350px;
					width: 350px;
				}
			}
				.animate{
                    @include for-tablet-only{
						display: none;

					} 
					@include phone{
						display: none;
					} 
				}
			  
				> .container {
				  padding: 0;
			  
				  @include for-tablet-only {
				  }
			  
				  @include phone {
					padding-right: 16px;

				  }
				}
			  
				.animate {
				  width: 100%;
				}
			  
				.scrollimgzoomcontainer {
				  position: relative;
				  width: 100%;
				//   height: 100%;
				//   overflow: hidden;
				  padding-top: 80px;
				  @include for-tablet-only {
					padding-top: unset;
				  }
			  
				  @include phone {
					padding-top: unset;
				  }
				  .video-container {
					position: relative;
					padding-bottom: 56.25%;
					height: 0;
					width: 100%;
				  }
				  
				//   .video-container iframe {
				// 	position: absolute;
				// 	top: 0;
				// 	left: 0;
				// 	width: 100%;
				// 	height: 100%;
				//   }
				}
			  
				.scrollimgzoom {
				//   width: 50%;
				//   left: 50%;
				object-fit: contain;  
				  height:450px;
				  width: 450px;
				  position: relative;
				//   overflow: hidden;
				left:60%;
				  border-radius: 50%; 
				
				}
			  			  
				

				figure {
					text-align: right;
					img {
						border-radius: 100%;
						width: 450px;
						height: 450px;
						@include for-tablet-only {}
						@include phone {
							width: 160px;
							height: 160px;
						}
					}
				}
			}
			.hero-stats-wrapper {
				margin-bottom: 48px;
				// padding-top: 650px;         //for video-animation
				@include for-tablet-only {}
				@include phone {
					margin-bottom: 0;
				}
				.grid-content {
					border-radius: 500px;
					border: 1px solid rgba($ods-lime, 0.3);
					display: grid;
					grid-template-columns: repeat(3,1fr);
					align-items: flex-start;
					width: 996px;
					margin: 0 auto;
					padding: 40px 64px;
					gap: 100px;
					  
					@include for-tablet-only {
						gap: 56px;
						width: 100%;
						grid-template-columns: repeat(1,1fr);
					}
					@include phone {
						padding: 64px;
						width: 100%;
						grid-template-columns: repeat(1,1fr);
						gap: 0;
						border-radius: 160px;
					}
					.ods-col {
						@include for-tablet-only {
							display: flex;
    flex-direction: column;
    align-items: center;
						}
						@include phone {
							border-bottom: 1px solid rgba($ods-light-grey, 0.1);
							margin-bottom: 32px;
							padding-bottom: 32px;
						}
						.svg-icon {
							margin-bottom: 20px;
							@include for-tablet-only {}
							@include phone {
								margin-bottom: 16px;
								text-align: center;
							}
						}
						p {
							color: $ods-lime;
							font-family: "galano-grotesque-regular", sans-serif;
							font-size: 18px;
							line-height: 130%;
							@include for-tablet-only {}
							@include phone {
								font-size: 14px;
								text-align: center;
							}
						}
						&:last-of-type {
							@include for-tablet-only {}
							@include phone {
								border-bottom: 0;
								margin-bottom: 0;
								padding-bottom: 0;
							}
						}
					}
				}
			}
			.hero-note-wrapper {
				display: none;
				.note-p {
					border-radius: 50px;
					background: $ods-black;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 16px 24px;
					width: 50%;
					margin: 0 auto;
					gap: 16px;
					@include for-tablet-only {
						width: 100%;
					}
					@include phone {
						width: 100%;
					}
					p {
						margin-bottom: 0;
						color: $ods-white;
						@include for-tablet-only {}
						@include phone {
							font-size: 12px;
							text-align: center;
						}
					}
				}
			}
		}
	}
}