.homepage-container {
	.hero-big-text {
		padding-top: 142px;
		.text-span {
			display: block;
			&.type-span-2 {
				padding-left: 120px;
			}
		}
	}
	section {
		&.ods-hero-wrapper {
			background-image: url('../images/backgrounds/hero-bg-dark.svg');
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			height: 100%;
		}
	}
}