.intern-wrapper {
    padding: 120px;
    background-image: url('../images/backgrounds/apply-bg.svg');

    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: lighten;

    @include for-tablet-only {
        padding: 80px;
    }
    @include phone {
        padding: 32px 16px;
    }
   .intern-main-container{
    position: relative;
    border-radius: 40px;
    background: var(--White, #FFF);
    height: 780px;
    width: 100%;
    overflow: hidden;
    @include for-tablet-only{
    height: 950px;

    }
    @include phone {
        height: 780px;
    }
   }
    *{
        margin: 0;
    }
    body{
        background-color: #000;
        padding: 120px;
    }
    .intern-container{
     
    display: flex;
    @include phone{
        flex-direction: column;
    }
    @include for-tablet-only{
        flex-direction: column;
    }
    
    }
    .content-section{
        height: 100%;
        padding: 60px;
        display: flex;
        flex-direction: column;
        // gap: 24px;
        width: 50%;
        position: relative;
        @include phone {
           
            padding: 40px 20px;
        }
        a{
            margin-top: 32px;
            @include phone {
                width: 142px;
                margin-top: 24px;
            }
        }
    }
    .content-section button{
        margin: 32px 0 0 0;
        display: flex;
        padding: 16px 24px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 40px;
        background-color: #fff;
border: 2px solid var(--Stroke-dark, #383838);
color: var(--Background, #0E100F);
font-family: "galano-grotesque-semibold";
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 24px */
text-transform: uppercase;
width: 157px;
@include phone{
    font-size: 14px;
    line-height: 170%;

}
    }
    .group-pattern{
        position: absolute;
        bottom: -36px;
        left: 0;
        z-index: 1;
        @include phone{
            display: none;
        }
        @include for-tablet-only {
            height: 170px;
        bottom: 0;

        }
        
        
    }
    .phone-group-pattern{
        display: none;
        @include phone {
        display: flex;
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 1;
        }
    }
    .section-heading{
        color: var(--Background, #0E100F);
    font-family: "galano-grotesque-bold";
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px; /* 150% */
    width: 490px;
    margin-bottom: 24px;
    @include phone{
        font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 48px;
width: 267px;
    }
    }
    .section-p{
        color: var(--Background, #0E100F);
    font-family: "galano-grotesque-regular";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 166.667% */
width: 495px;

    @include phone{
        font-family: "galano-grotesque-regular";
        font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
width: 267px;

    }
    }
    .animation-section{
        height: auto;
        overflow: hidden;
        width: 50%;
        z-index: 2;
    display: flex;
    gap: 20px;
    width: 100%;
    padding:0 40px;
    @include phone {
        flex-direction: column;
        padding: unset;
    }
    @include for-tablet-only {
        flex-direction: column;
        padding: unset;

    }
    }
   
    .image-section1{
        width: 50%;
        overflow: hidden;
        position: relative;
        height: auto;
        display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: auto;
    @include phone{
        display: none;
    }
    @include for-tablet-only{
        display: none;
    }
    .slick-slide{
   margin:10px 0;
    }
    }
    .scroller-inner{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 20px;
    }
    .scroller[data-animated="true"]{
        overflow: hidden;
    }
    .scroller[data-animated="true"] .scroller-inner{
        width: max-content;
       flex-wrap: nowrap;
       animation: scroll 20s reverse linear infinite;

       @keyframes scroll {
          to{
 transform: translateY(calc( -50% - 0.5rem));
          }
       }
    }

   
    .scrolling-image {
        width: 100%;
        height: auto;
        // animation: scrollImage 10s linear infinite;
        // animation-delay: 0ms;
        // background:url("../images/intern/sliding1.png")
      }
      
    
     
      .upscroll-image {
        width: 100%;
        height: auto;
        // animation: upscrollImage 4s linear infinite;
        // animation-direction: reverse;
      }
      @keyframes upscrollImage {
        // 0% {
        //   transform: translateY(0);
        // }
        100% {
          transform: translateY(-50%);
        }
      }
      
     
    .image-section2{
        width: 50%;
        overflow: hidden;
        position: relative;
        height: 780px;
        display: flex;
    flex-direction: column;
    gap: 20px;
    
    @include phone{
        display: none;
    }
    @include for-tablet-only{
        display: none;
    }
    .slick-slide{
        margin:10px 0;
         }
       
        
    }

    
    
}


.phone-image-section1{
    display: none;
    @include phone {
        display: flex;
        gap: 20px;
    }
    @include for-tablet-only {
        display: flex;
        gap: 20px;
    }
    .slick-slide{
        margin:0 10px;
         }
}
.phone-scrolling-image{
    @include phone {
        width: 240px;
        height: 100px !important;
        
    }
    @include for-tablet-only {
        width: 240px;
        height: 120px;
        
    }

}
.phone-upscroll-image{
    @include phone{
    width: 240px;
height: 100px !important;
    }
    @include for-tablet-only{
        width: 240px;
    height: 120px;
        }
}
.phone-image-section2{
    display: none;
    @include phone {
        display: flex;
        gap: 20px;
    }
    @include for-tablet-only {
        display: flex;
        gap: 20px;
    }
    .slick-slide{
        margin:0 10px;

         }
}