section {
	&.learning-wrapper {
		overflow: hidden;
		.div-wrap {
			.main-container{
				border-radius: 96px;
				background: $ods-light-blue;
				p {
					color: $ods-black;
					font-family: "galano-grotesque-regular";
					font-size: 24px;
					line-height: 40px;
				}
			}

			.container{
				padding: 120px 0;
			}

			.image-div {
				display: flex;
				align-items: center;
				padding: 0 120px;
				overflow: hidden;
			}

			.learning-cards {
				display: flex;
				flex-direction: column;
				display: inline-flex;
				padding: 40px 24px 40px 24px;
				flex-direction: column;
				border-radius: 40px;
				position: relative;
				overflow: hidden;
				height: 472px;
				width: 472px;
				cursor: pointer;
				.card-head {
					color: $ods-white;
					font-family: "galano-grotesque-semibold";
					font-size: 40px;
				}
				.card-body {
					width: 336px;
					color: #4A4A4A;
					font-family: "galano-grotesque-regular";
					font-size: 16px;
					line-height: 24.5px;
				}
				&.card1{
					transform: translate(10px,30px) rotate(-7deg);
					background: $pink;
					transition: transform 0.3s ease;
					&:hover{
						transform: translate(10px, 50px) rotate(-2deg);
					}
				}
				&.card2{
					transform: translate(-30px,80px) rotate(10deg);
					transition: transform 0.3s ease;
					background: $yellow;
					&:hover{
						transform: translateY(20px) rotate(4.326deg); 
					}
				}
				&.card3 {
					transform: translateY(30px) rotate(-9deg);
					transition: transform 0.3s ease;

					background: $blue;
					&:hover{
						transform: translateY(10px) rotate(-2.334deg); 
					}   
				}
			}
		}
	}
}