section {
	&.learning-wrapper {
		overflow: hidden;
		.div-wrap {
			.heading-wrap {
				.heading-div {
					@include for-tablet-only {}
					@include phone {
						gap: 16px;
						margin-bottom: 16px;
					}
					h2 {
						color: var(--Background, #0E100F);
						font-size: 80px;
						line-height: 96px;
						white-space: nowrap;
						@include phone {
							white-space: nowrap !important;
							font-size: 40px !important;
							line-height: 48px !important; 


						}
						@include for-tablet-only{
							font-size: 64px;
							line-height: 80px;

						}
						@include tablet-portrait{
							font-size: 64px;
						}
					}
					svg {
						@include for-tablet-only {}
						@include phone {
							width: 40px;
							height: 40px;
						}
					}
				}
			}

			.main-container{
				border-radius: 96px;
				background: $ods-light-blue;
				overflow: hidden;
				@include for-tablet-only {
				}
				@include phone {
					border-radius: 48px;
					padding-bottom: 64px;
				}
				p {
					color: #000;
					font-family: "galano-grotesque-regular";
					font-size: 24px;
					font-style: normal;
					font-weight: 400;
line-height: 40px; /* 166.667% */
width: 384px;
@include tablet-portrait{
	width: 328px ;
}
span{
	font-family: "galano-grotesque-medium";
}
@include phone {
// 	font-size: 16px;
// line-height: 24px;
//     padding: 0 40px;
}
}
}

.container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 120px 0;
	@include for-tablet-only {
		flex-direction: column;
	align-items: unset;
	padding: 80px 36px;

	}
	@include phone {
		padding: 48px 24px;
		flex-direction: column;
		align-items: unset;

	}
}

.image-div {
	display: flex;
	align-items: center;
	padding: 0 120px 0 100px;
	overflow: hidden;
	@include for-tablet-only {
		padding: 0px 32px 0 28px;
	overflow: hidden;

	}
	@include phone {
		padding: 0 16px;
		flex-direction: column;
		gap: 16px;
	}
	

}

			.learning-cards {
				display: flex;
				flex-direction: column;
				display: inline-flex;
				padding: 40px 24px 40px 24px;
				flex-direction: column;
				border-radius: 40px;
				position: relative;
				overflow: hidden;
				height: 472px;
				width: 472px;
			
				cursor: pointer;
				@include for-tablet-only {
				height: 380px;

				}
				@include phone {
					height: auto;
					width: 100%;
				}
				
				.card-head {
					color: $ods-white;
					font-family: "galano-grotesque-semibold";
					font-size: 40px;
					@include for-tablet-only {			
                  font-size: 32px;
					}
					@include phone{
						font-size: 24px;
					}
				}
				.card-body {
					width: 336px;
					color: #4A4A4A;
					font-family: "galano-grotesque-regular";
					font-size: 16px;
					line-height: 24.5px;
					padding: 8px 0;
					@include for-tablet-only{
						width: 200px;
					}
					@include tablet-portrait{
						width: 274px;
					}
					@include phone {
						width: 300px;
					}
				}
				
				&.card1{
					// transform: translate(10px,30px) rotate(-7deg);
					transform: translate(10px,50px) rotate(-7deg);
					perspective: 1000px; /* Adjust as needed */
					background: $pink;
					transition: transform 0.3s ease;
					z-index: 1;
					@include for-tablet-only {}
					@include phone {
						transform: unset;
					}
					&:hover{
						// transform: translate(10px, 50px) rotate(-2deg);
						transform: translate(10px,25px) rotate(-2deg);
						@include for-tablet-only {}
						@include phone {
							transform: unset;
						}
						.card-inner {
							pointer-events: none;						
						  }
					}
					
					.card-inner {		
						transform: translate(0);
						transition: transform 0.3s ease; 
					  }
					  
				}
				&.card2{
					// transform: translate(-30px,80px) rotate(10deg);
					transform: translate(-30px,100px) rotate(10deg);
					transition: transform 0.3s ease;
					background: $yellow;
					z-index: 2;
					position: relative;

					@include for-tablet-only {}
					@include phone {
						transform: unset;
					}
					&:hover{
						// transform: translateY(20px) rotate(4.326deg);
						transform: translate(-20px,50px) rotate(10deg);
						@include for-tablet-only {}
						@include phone {
							transform: unset;
						}
						.card-inner {
							pointer-events: none;
						  }
					}
					
					.card-inner {					
						transform: translate(0);
						transition: transform 0.3s ease; 
					  }
					  
				}
				&.card3 {
					// transform: translateY(30px) rotate(-9deg);
					// transform: translate(20px,50px) rotate(-12deg);
					transform: translate(-10px, 36px) rotate(-6deg);
					transition: transform 0.3s ease;
					background: $blue;
					z-index: 3;

					@include for-tablet-only {}
					@include phone {
						transform: unset;
					}
					&:hover{
						// transform: translateY(10px) rotate(-2.334deg); 
						// transform: translate(20px,25px) rotate(-12deg);
					transform: translate(-10px, 16px) rotate(-6deg);

						@include for-tablet-only {}
						@include phone {
							transform: unset;
						}
						.card-inner {
							pointer-events: none;
						  }
					}   
					
					.card-inner {						
						transform: translate(0);
						transition: transform 0.3s ease; 
					  }
				}
				
			}
		}
	}
}
