section {
	&.learning-wrapper {
		overflow: hidden;
		.div-wrap {
			.heading-wrap {
				.heading-div {
					@include for-tablet-only {}
					@include phone {
						gap: 16px;
						margin-bottom: 16px;
					}
					h2 {
						font-size: 40px;
						line-height: 48px;
					}
					svg {
						@include for-tablet-only {}
						@include phone {
							width: 40px;
							height: 40px;
						}
					}
				}
			}

			.main-container{
				border-radius: 96px;
				background: $ods-light-blue;
				@include for-tablet-only {}
				@include phone {
					border-radius: 48px;
					padding-bottom: 64px;
				}
				p {
					color: $ods-black;
					font-family: "galano-grotesque-regular";
					font-size: 24px;
					line-height: 40px;
				}
			}

			.container{
				padding: 120px 0;
				@include for-tablet-only {}
				@include phone {
					padding: 48px 16px;
				}
			}

			.image-div {
				display: flex;
				align-items: center;
				padding: 0 120px;
				overflow: hidden;
				@include for-tablet-only {}
				@include phone {
					padding: 0 16px;
					flex-direction: column;
					gap: 16px;
				}
			}

			.learning-cards {
				display: flex;
				flex-direction: column;
				display: inline-flex;
				padding: 40px 24px 40px 24px;
				flex-direction: column;
				border-radius: 40px;
				position: relative;
				overflow: hidden;
				height: 472px;
				width: 472px;
				cursor: pointer;
				@include for-tablet-only {}
				@include phone {
					height: auto;
					width: 100%;
				}
				.card-head {
					color: $ods-white;
					font-family: "galano-grotesque-semibold";
					font-size: 40px;
				}
				.card-body {
					width: 336px;
					color: #4A4A4A;
					font-family: "galano-grotesque-regular";
					font-size: 16px;
					line-height: 24.5px;
				}
				&.card1{
					transform: translate(10px,30px) rotate(-7deg);
					background: $pink;
					transition: transform 0.3s ease;
					@include for-tablet-only {}
					@include phone {
						transform: unset;
					}
					&:hover{
						transform: translate(10px, 50px) rotate(-2deg);
						@include for-tablet-only {}
						@include phone {
							transform: unset;
						}
					}
				}
				&.card2{
					transform: translate(-30px,80px) rotate(10deg);
					transition: transform 0.3s ease;
					background: $yellow;
					@include for-tablet-only {}
					@include phone {
						transform: unset;
					}
					&:hover{
						transform: translateY(20px) rotate(4.326deg);
						@include for-tablet-only {}
						@include phone {
							transform: unset;
						}
					}
				}
				&.card3 {
					transform: translateY(30px) rotate(-9deg);
					transition: transform 0.3s ease;
					background: $blue;
					@include for-tablet-only {}
					@include phone {
						transform: unset;
					}
					&:hover{
						transform: translateY(10px) rotate(-2.334deg); 
						@include for-tablet-only {}
						@include phone {
							transform: unset;
						}
					}   
				}
			}
		}
	}
}